/* About.css */

body{
  margin: 0;
  background-image: none;
}
.about-page {
  padding: 30px 0;
  background-color: #f8f9fa;
  color: #333;
}

.highlight {
  color: #f46e0e;
  padding: 0.1em 0.3em;
  border-radius: 4px;
}

.about-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.about-image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  animation: fadeInUp 1s ease-out;
}

.about-image {
  max-width: 100%;
  vertical-align: middle;
  animation: scaleIn 1s ease-out;
}

.btn-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #f96b44;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.1);
}


/* Keyframe animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .col-md-6 {
    margin-bottom: 30px;
  }
}
