/* AllOrders.css */

.all-orders-container {
    padding: 20px;
  }
  
  .orders-list {
    display: grid;
    gap: 20px;
  }
  
  .order-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-item {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  