/* PlaceOrder.css */

/* Background styling */


.background {
    background: linear-gradient(to bottom, #f6d365, #fda085);
    padding-bottom: 3rem;
  }
  
  /* Container styling */
  .place-order-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .place-order-container:hover {
    transform: scale(1.02);
  }
  
  /* Form and input styling */
  .form-label {
    font-weight: bold;
    color: #333;
  }
  
  .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .form-control:focus {
    border-color: #fda085;
    box-shadow: 0 0 5px rgba(253, 160, 133, 0.5);
  }
  
  /* Button styling */
  .btn-primary {
    background-color: #f96b44;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #ec6125;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
  

  